<!DOCTYPE html>
<!-- load static: để cho template này biết chúng ta có thể use cái static tag này -->
{% load static %} 
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles/main.css' %}">
    <title>StudyBud</title>
</head>
<body>
    {% include 'navbar.html' %}

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <!-- <img src="{% static 'images/anhgiday.jpg' %}" />  đây là cách đưa hình ảnh vào html -->
    {% block content %}

    {% endblock %}

</body>
</html>